*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(1670115698048.jpeg);
    background-size: cover;
    background-position: center;
}

.header .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 200px;
    overflow: hidden;
}

.header .logo img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .navbar .menu ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    margin-bottom: 200px;
    background-color: #000;
    border-radius: 25px;
    padding: 3px;
    
}

.header .navbar .menu ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 17px;
    margin: 50px;
    margin-bottom: 35px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

.header .navbar .menu ul li a:hover{
    color: aqua;
}

.header .banner{
    position: absolute;
    top: 35%;
    left: 0;
    color: black;
}

.header .banner .app-text{
    margin-top: 65px;
    margin-left: 300px;
    padding-left: 70px;
    border: 50px;
    background-color: #fff5;
}

.header .banner .app-text h1{
    font-size: 50px;
    position: relative;
    font-weight: 400;
    color: #fff;
}

.header .banner .app-text h2{
    color: #000;
}

.header .banner .app-text h3{
    color: #000;
}


